
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Send Message To Service Bus Queue</h2>

    @using (Html.BeginForm("SendMsg", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td colspan="5" align="center">
                    <h6>@ViewBag.Msg</h6>
                </td>
            </tr>
            <tr>
                <td>Enter ConnectionString/Endpoint for service bus queue:</td>
                <td>
                    @Html.TextBox("txtEndpoint", (string)ViewBag.Endpoint)
                </td>
            </tr>
            <tr>
                <td>Enter Servicebus Queue Name:</td>
                <td>
                    @Html.Label("txtQueueName", (string)ViewBag.QueueName)
                </td>
            </tr>
            <tr>
                <td>Enter message for service bus queue:</td>
                <td>
                    @Html.TextBox("txtSend")
                </td>
                <td>(@ViewBag.MsgCount)</td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input id="btnSend" type="submit" name="Send" value="Send Message" />
                </td>
            </tr>
        </table>
    }

</div>